body {
  font-family: 'denseregular';
  background-image: url(../img/gradbg_bw.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #3c3c3c;
  margin: 100px;
  margin-top: 150px; }

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #3c3c3c; }

::selection {
  color: white;
  background: #3c3c3c; }

header {
  display: flex; }
  header .cont {
    width: 100%;
    margin: auto;
    text-align: center; }
    header .cont h1.name {
      font-size: 100px;
      margin: 0; }
    header .cont h3.sub {
      font-size: 48px;
      margin: 0; }
    header .cont ul {
      margin: 0;
      margin-top: 10px;
      padding: 0;
      list-style: none; }
      header .cont ul li {
        display: inline;
        margin: 5px; }
  header .right {
    width: 50%;
    margin: auto;
    text-align: center; }
    header .right span {
      font-size: 48px; }
      header .right span i.hhi {
        background-color: #fff;
        font-style: normal;
        padding: 3px; }
      header .right span i.down {
        display: block;
        margin-top: 28px;
        font-size: 28px; }

.posts {
  margin-top: 150px; }
  .posts .post {
    width: 100%;
    margin-top: 150px;
    display: flex; }
    .posts .post aside {
      width: 37.5%;
      margin: auto;
      text-align: center; }
      .posts .post aside h1.title {
        font-size: 80px;
        margin: 0; }
        .posts .post aside h1.title a {
          color: #3c3c3c;
          text-decoration: none; }
      .posts .post aside a.readmore {
        text-decoration: none;
        color: #848484;
        font-size: 28px;
        margin-left: 150px; }
    .posts .post article {
      width: 50%;
      margin: auto;
      text-align: center; }
      .posts .post article .thumbnail {
        width: 100%;
        box-shadow: 0 0 10px 0 rgba(1, 1, 1, 0.5); }

footer {
  margin-top: 150px;
  display: flex;
  text-align: center; }
  footer .cont {
    width: 50%;
    margin: auto;
    font-size: 48px; }
    footer .cont .cc {
      color: #e74c3c;
      cursor: pointer; }
    footer .cont i {
      font-style: normal;
      margin: 28px; }
    footer .cont a.mail {
      text-decoration: none;
      color: #484848; }
  footer .tehran {
    display: none; }

@media screen and (max-width: 568px) {
  body {
    margin: 10px;
    margin-top: 100px; }

  header .cont {
    width: 100%;
    margin: auto; }
    header .cont h1.name {
      font-size: 48px; }
    header .cont h3.sub {
      font-size: 22px; }
    header .cont ul li a img {
      width: 32px;
      height: 32px; }

  .posts .post {
    flex-wrap: wrap; }
    .posts .post aside {
      width: 100%; }
      .posts .post aside h1.title {
        font-size: 48px;
        margin-bottom: 5px; }
      .posts .post aside a.readmore {
        display: none; }
    .posts .post article {
      width: 100%; }

  footer {
    margin-top: 100px; }
    footer .cont {
      font-size: 32px; }
      footer .cont i {
        display: block; }
      footer .cont a {
        font-size: 48px; } }
@media screen and (min-width: 568px) and (max-width: 768px) {
  header .left {
    width: 100%; }
    header .left h1.name {
      font-size: 100px; }
    header .left h3.sub {
      font-size: 32px; }
  header .right {
    width: 0;
    display: none; }
  header .callmemobile {
    display: none; }

  .posts .post {
    flex-wrap: wrap; }
    .posts .post aside {
      width: 100%; }
      .posts .post aside h1.title {
        margin-bottom: 10px; }
      .posts .post aside a.readmore {
        display: none; }
    .posts .post article {
      width: 100%; }

  footer .right {
    width: 0;
    display: none; }
  footer .left {
    width: 100%; } }
@media screen and (min-width: 769px) {
  .callmemobile {
    display: none; } }

/*# sourceMappingURL=style.css.map */
